*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Gilroy';
}

html, body{
    height: 100% ;
    width:100% ;


}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
height: 100px;
width: 100%;
/*background-color: red*/;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 3vw;
border-bottom: 2px solid #dadada ;
}

.nav2{
    display: flex;
    /*background-color: blue*/;
    gap: 2.8vw;
    align-items: center;
}

.nav h2{
font-size: 2vw;
font-weight: 900;
color:#FE874C;


}

.nav h4{
    font-size: 1.6vw;

  
}
.nav i{
   
    font-weight: 800;
    display: none;
}
.nav button{
    font-size: 1.5vw; 
padding: 1vw 2vw;
font-weight: 900;
background-color: #FE874C;
color: #fff;
border: none;
border-radius: 5px;
}


.contents{
    height: calc(100% - 100px) ;
    width: 100%;
    
    display: flex;
    position: relative;
}
.left{
    height: 100%;
    width: 55%;
     
    padding: 5vw 3vw;
}
.left h1{
    font-size: 4vw;
    line-height: 4.4vw;
  
}
.left h1 span{
    color: #FE874C;
}
.left p{
font-size: 1.2vw;
font-weight: 600;
color: #666;
margin-top: 1.5vw ;
margin-bottom: 3vw;
}
.contents button{
font-size: 1.5vw; 
padding: 1.1vw 2.1vw;
font-weight: 700;
background-color: #FE874C;
color: #fff;
border: none;
border-radius: 5px;
}
.right{
    height: 100%;
    width: 45%;
   
}
.right img{
height: 100%;
width: 100%;

}
@media (max-width: 600px){
    .nav{
       
        color: bisque;
        padding: 0 6vw;
        height: 60px;
    }

    .nav h2{
        font-size: 5vw;
    }
    .nav h4{
        font-size: 4vw;
        display: none;
    }
    .nav i{
        display: block;
        font-size: 5vw;
    }
    .nav button{
        display: none;
    }
    .contents{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .left{
        height: 50%;
        width: 100%;
        padding: 4vw 6vw;
    }
    .right{
        height: 50%;
        width: 100%;
    }
    .left h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    .left p{
        font-size: 4vw;
        width: 100%;
        margin-top: 4vw ;
        margin-bottom: 2vw ;
    }
    .contents button{
        font-size: 3vw;
        padding: 2vw 5vw;
        border-radius: 3px;
    }

}